.header-bd {
  background-color: #f7f7f7;
}

.person {
  margin-top: 0rem;
}

.login {
  background-color: lightgreen;
}

.card {
  margin-top: -0.25rem;
}

.login-button {
  background-color: #28a745;
}
