.header-bd {
  background-color: #f7f7f7;
}

.person {
  margin-top: 0rem;
  left: 45px;
  position: relative;
  bottom: -50px;
  z-index: -99;
}

.login {
  background-color: lightgreen;
}

.card {
  margin-top: -0.25rem;
}

.login-button {
  background-color: #28a745;
}
