<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <lipd-cropper [(image)]="artigo.thumbnail"> </lipd-cropper>

    <ion-item>
      <ion-label position="fixed">Título:</ion-label>
      <ion-input clearInput [(ngModel)]="artigo.titulo"></ion-input>
    </ion-item>

    <lipd-editor
      [thumbnail]="artigo.thumbnail"
      [title]="artigo.titulo"
      [(html)]="artigo.html"
      placeholder="Escreva seu artigo aqui"
    ></lipd-editor>

    <ion-row justify-content-center>
      <ion-button (click)="teste()">Teste</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
