<ion-app>
  <ion-split-pane *ngIf="logged; else loggedOut">
    <ion-menu class="menu">
      <ion-content>
        <ion-avatar> <img src="/assets/avatar.jpg" /> </ion-avatar>
        <h1>Suelem Mayo</h1>
        <p>Nutricionista</p>

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item
              [routerDirection]="'root'"
              [routerLink]="[p.url]"
              routerLinkActive="menu-item-active"
            >
              <ion-icon slot="start" [src]="p.icon">
                <ion-badge *ngIf="p.badge" color="success">{{
                  p.badge
                }}</ion-badge>
              </ion-icon>
              <ion-label> {{ p.title }} </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-item>
          <ion-button (click)="logout()" fill="clear" color="primary">
            <ion-icon slot="start" [src]="exit_icon"></ion-icon>
            <span
              style="
            color: white;"
              >Sair</span
            >
          </ion-button>
        </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>

  <ng-template #loggedOut>
    <ion-router-outlet></ion-router-outlet>
  </ng-template>
</ion-app>
