<ion-grid>
  <ion-row>
    <image-cropper
      *ngIf="imageChangedEvent"
      class="centered-cropper"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      [resizeToWidth]="128"
      format="png"
      (imageCroppedBase64)="imageCropped($event)"
    ></image-cropper>
  </ion-row>

  <input
    #file
    type="file"
    (change)="fileChangeEvent($event)"
    accept="image/*"
    hidden
  />

  <ion-row justify-content-center>
    <ion-button (click)="file.click()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Carregar imagem
    </ion-button>
  </ion-row>
</ion-grid>
